* {
  box-sizing: border-box;
}
body{
  background-color: beige;

h1{
  text-align: center;
}

.playGround{
  margin:0 auto;  display: flex;
  justify-content: center;
  height: 60vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  background: darkgreen;
  border-radius: 50px;
    .winnerDisplay{
      text-align: center;
      height: 10vh;
      width: 50vw;
    }
    .playerContainer{
      display: flex;

        .dealerField {
          height: 40vh;
          width: 25vw;
          text-align: center;
          p{
            font-size: 2rem;
          }
        }
        .playerField {
          height: 40vh;
          width: 25vw;
          text-align: center;
            p{
              font-size: 2rem;
            }
        }
    }
}


.center{
  margin: 1rem;
  display: flex;
  justify-content: center;
  form>button{
    width: 10rem;
    height: 2.5rem;
    font-size: 1rem;
    background: darkgreen;
    border-radius: 10px;
  }
}
}
